<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
   <apikeys>
    <add key="http://private.repositories/api/nuget" value="code-created-by-nuget-commands" />
  </apikeys>
  <packageSources>
    <add key="private.repositories" value="http://private.repositories/api/nuget" />
    <add key="nuget.org" value="https://www.nuget.org/api/v2" />
  </packageSources>
  <packageSourceCredentials>
    <Artifactory>
      <add key="Username" value="username" />
      <add key="ClearTextPassword" value="password" />
    </Artifactory>
  </packageSourceCredentials>
</configuration>
